body{
    margin: 0;
    background-color: black;
}
.bgimage{
    background-image: url(assets/siteherobg.png);
    background-position: center;
    background-size: cover;
    height: 85vh;
}
.bgimage span{
    font-size: 100px;
    text-align: center;
    
}